_subdirectory: <<template_dir>>
_min_copier_version: "9.17.1"
_answers_file: .copier-answers.<<var_start>> template_name <<var_end>>.yml
_envops:
<% if template_style == 'square_brackets' %>
  block_end_string: "%]"
  block_start_string: "[%"
  comment_end_string: "#]"
  comment_start_string: "[#"
  variable_end_string: "]]"
  variable_start_string: "[["
<% endif %>
  trim_blocks: true
  undefined: jinja2.StrictUndefined  # error loudly for undefined variables
<% if needs_extensions %>
_jinja_extensions:
<% if include_pydantic_validation %>
  - copier_pydantic.MultilineValidation
  - copier_pydantic.PydanticExtension
<% endif %>
<% if include_template_extensions %>
  - copier_template_extensions.TemplateExtensionLoader
<% endif %>
<% endif %>

template_name:
  type: str
  default: '<<output_template_name>>'
  when: false
<% if include_pydantic_validation %>

example_answer_pydanic_validated:
  type: yaml
  multiline: true
  default: |
    var_1: 'marvin'
    var_2: 42
  validator: "<<var_start>> example_answer_pydanic_validated | validate_as(ExampleConfig) <<var_end>>"
<% endif %>
