version: '3'

set: [pipefail]

includes:
  demo: ./taskfile/copier-template/demo
  dev-setup: ./taskfile/<<template_name>>/dev-setup
  lint: ./taskfile/<<template_name>>/lint
  test: ./taskfile/<<template_name>>/test
  template: ./taskfile/<<template_name>>/template
  example: ./taskfile/<<template_name>>/example
  release: ./taskfile/<<template_name>>/release

tasks:
  default:
    cmds:
      - task --list
