# << output_template_name >>-copier-template

A [Copier](https://copier.readthedocs.io/) template.

## Install Copier

```bash
uv tool install copier
# or
pipx install copier
# or
brew install copier
```

## Usage

### Create a new project

```bash
copier copy <template-url> /path/to/new/project
```

### Update an existing project

```bash
cd /path/to/your/project
copier update
```
